{% block content %}

    <!--Contact form-->
    <div class="container">
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <p class="contact-form-heading">Get in touch...</p>
            </div>
        </div>
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('contact') }}">
            <!--Flash messages-->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="row-flashes">
                            <h4 class="flash-message">{{ message }}</h4>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
    </div>
 
{% endblock %}