{% block content %}

    <!--Media Gallery-->
    
        <h3 class="media-gallery-heading">Fu Dog in action...</h3>
            <div class="media-gallery container">
                <!--Image 1-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog1.jpg') }}"
                data-caption="Fu Dog 1">
                <img src="{{ url_for('static', filename='media/images/fudog1.jpg') }}"/></a>
                <!--Image 2-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog2.jpg') }}"
                data-caption="Fu Dog 2">
                <img src="{{ url_for('static', filename='media/images/fudog2.jpg') }}"/></a>
                <!--Image 3-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog3.jpg') }}"
                data-caption="Fu Dog 3">
                <img src="{{ url_for('static', filename='media/images/fudog3.jpg') }}"/></a>
                <!--Image 4-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog4.jpg') }}"
                data-caption="Fu Dog 4">
                <img src="{{ url_for('static', filename='media/images/fudog4.jpg') }}"/></a>
                <!--Image 5-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog5.jpg') }}"
                data-caption="Fu Dog 5">
                <img src="{{ url_for('static', filename='media/images/fudog5.jpg') }}"/></a>
                <!--Image 6-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog6.jpg') }}"
                data-caption="Fu Dog 6">
                <img src="{{ url_for('static', filename='media/images/fudog6.jpg') }}"/></a>
                <!--Image 8-->
                <a data-fancybox="gallery" data-src="{{ url_for('static', filename='media/images/fudog7.jpg') }}"
                data-caption="Fu Dog 7">
                <img src="{{ url_for('static', filename='media/images/fudog7.jpg') }}"/></a> 
            </div>
           
{% endblock %}