{% block footer %}

<!--Footer-->
    <footer class="page-footer container-fluid">
        <div class="float-button">
            <a href="#top" class="btn-floating btn-large">
                <i class="fas fa-arrow-up"></i>
            </a>
        </div>
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <!--Social media links-->
                <div class="social-media">
                    <a href="" target="_blank" 
                    aria-label="Find us on Facebook"><i class="fab fa-facebook-square" rel="noopener"></i></a>
                    <a href="" target="_blank" 
                    aria-label="Find us on Instagram"><i class="fab fa-instagram" rel="noopener"></i></a>
                </div>
            </div>
            <div class="fudog-info">
                <div class="fudog-address">
                Lyneburn Industrial Estate, Halbeath Place, 
                KY11 4LA, Dunfermline, Fife, Scotland
                </div>
                <div class="fudog-phone">
                    <i class="fas fa-phone-square"></i> <a href="tel:07841383279">07841383279</a>
                </div>
                <div class="fudog-email">
                    <i class="far fa-envelope"></i> <a href="mailto:info@fudogmartialarts.com">info@fudogmartialarts.com</a>
                </div>
            </div>
            </div>
            <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="fudog-text">
                © Fu Dog Martial Arts
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col s12 m8 offset-m2">
                    <div class="design-text">
                    Website created by KK
                    </div>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}