{% block content %}

<!--Timetable page content-->
<div class="timetable container">
  <h3 class="timetable-heading">Fu Dog MMA Timetable!</h3>
  <div class="row">
    <div class="col-sm-6">
      <div class="card-one">
        <div class="card-body">
          <h5 class="card-title-one">Monday (pm)</h5>
          <div class="divider-one"></div>
          <p class="card-text">
            5:30 - 6:30  CJC juniors</p>
          <p class="card-text">
            6:30 - 7:30  BJJ Gi</p>
          <p class="card-text">
            7:30 - 9:00  CJC seniors</p> 
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card-two">
        <div class="card-body">
          <h5 class="card-title-two">Tuesday (pm)</h5>
          <div class="divider-two"></div>
          <p class="card-text">
            5:30 - 6:30  CJC juniors</p>
          <p class="card-text">
            6:30 - 7:30  BJJ Gi</p>
          <p class="card-text">
            7:30 - 9:00  CJC seniors</p> 
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card-one">
        <div class="card-body">
          <h5 class="card-title-one">Wednesday (pm)</h5>
          <div class="divider-one"></div>
          <p class="card-text">
            5:30 - 6:30  CJC juniors</p>
          <p class="card-text">
            6:30 - 7:30  BJJ Gi</p>
          <p class="card-text">
            7:30 - 9:00  CJC seniors</p> 
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card-two">
        <div class="card-body">
          <h5 class="card-title-two">Thursday (pm)</h5>
          <div class="divider-two"></div>
          <p class="card-text">
            5:30 - 6:30  CJC juniors</p>
          <p class="card-text">
            6:30 - 7:30  BJJ Gi</p>
          <p class="card-text">
            7:30 - 9:00  CJC seniors</p> 
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card-one">
        <div class="card-body">
          <h5 class="card-title-one">Friday (pm)</h5>
          <div class="divider-one"></div>
          <p class="card-text">
            5:30 - 6:30  CJC juniors</p>
          <p class="card-text">
            6:30 - 7:30  BJJ Gi</p>
          <p class="card-text">
            7:30 - 9:00  CJC seniors</p> 
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card-two">
        <div class="card-body">
          <h5 class="card-title-two">Saturday (am)</h5>
          <div class="divider-two"></div>
          <p class="card-text">
            5:30 - 6:30  CJC juniors</p>
          <p class="card-text">
            6:30 - 7:30  BJJ Gi</p>
          <p class="card-text">
            7:30 - 9:00  CJC seniors</p> 
        </div>
      </div>
    </div>
    <div class="divider-three"></div>
    <div class="col-sm-12">
      <h5 class="additional-text-title">Individual sessions...</h5>
        <p class="additional-info">Please get in touch to discuss your training needs!
          <a href="" target="_blank" 
            aria-label="Find us on Facebook"><i class="far fa-comment-dots"></i></a></p>
      </div>
      <div class="divider-three"></div>
    </div>
  </div>
</div>
{% endblock %}